@charset "UTF-8"; 
*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body { background-image: linear-gradient(to left, #DAFDBA, #9AEBA3, #45C4B0, #13678A, #012030)}

main { background-color: white; 
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.514);
    width: 600px;
     padding:10px; 
     margin: auto; }

h1 { color:#043249;
    text-align: center;
    text-shadow: 1px 1px 2px #043249c0;
  
}
h2 { color: #13678A }

p { text-align: justify;}